body{
    background:#000;
    margin:0;
    font-family:Arial, sans-serif;
    color:white;
}
.center{
    text-align:center;
    margin-top:150px;
}
.title{
    font-size:60px;
    font-weight:700;
}
.sub{
    margin-top:-10px;
    font-size:16px;
    color:#888;
}
.searchbar{
    margin-top:40px;
}
.searchbar input{
    width:60%;
    padding:16px 20px;
    border-radius:30px;
    border:none;
    font-size:18px;
    outline:none;
}